<!DOCTYPE html>
<html lang="tr" style="font-family: 'Montserrat', sans-serif;">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
        <title><%= client.user.username %></title>
        <link rel="shortcut icon" href="<%= client.user.displayAvatarURL() %>">
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.17.0/dist/full.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;display=swap">
    </head>
    <body class="select-none bg-black min-h-screen text-white p-2" 
        onload="loader('popup','../../../pages/popup.ejs'); loader('footer','../../../pages/footer.ejs');">
        <nav class="navbar">
            <div class="flex-1">
                <div class="btn btn-ghost flex flex-wrap items-center">
                    <img class="w-8 h-8 rounded-full mr-2" src="<%= client.user.displayAvatarURL() %>" alt="">
                    <a onclick="location.href='/'" class="normal-case text-xl"><%= client.user.username %></a>
                </div>
            </div>
            <div class="flex-none">
                <% if (user) { %>
                <div class="dropdown dropdown-end">
                    <label tabindex="0">
                        <% let avatar = user.avatar ? `avatars/${user.id}/${user.avatar}.webp` : "embed/avatars/0.png" %>
                        <div class="btn btn-ghost flex flex-wrap items-center">
                            <a class="normal-case text-xl"><%= user.username %></a>
                            <img class="w-8 h-8 rounded-full ml-2" src="https://cdn.discordapp.com/<%= avatar %>" alt="">
                        </div>
                    </label>
                    <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-gray-900 rounded-box w-52">
                        <li><a onclick="location.href='/profil'"><i class="fa-solid fa-user-large"></i> Profil </a></li>                          
                        <li><a onclick="location.href='/cikisyap'"><i class="fa-solid fa-right-from-bracket"></i> Çıkış Yap</a></li>
                    </ul>
                </div>
            </div>
            <% } %>
            <% if (!user) { %>
                <div class="flex-none">
                    <a onclick="location.href='/girisyap/discord'" class="btn btn-ghost normal-case text-xl">
                        Giriş Yap <i class="fa-solid fa-right-to-bracket pl-2"></i>
                    </a>
                </div>
            <% } %>
        </nav>
        <div class="p-6 my-2 bg-primary border-3 border-black rounded-3xl">
            <div class="flex items-center justify-center px-4">
                <div class="max-w-xl overflow-hidden rounded-xl bg-white shadow-md duration-200 hover:scale-110 hover:rounded-3xl hover:shadow-xl">
                  <div class="p-5">
                    <p class="text-medium mb-5 text-gray-700">
                        Hoşgeldin, burası <%= client.user.username %> botunun yönetilebildiği bir web sitedir.
                        <br>
                        Tam olarak tamamlanmadığını hataların / sorunların olabileceğini unutmayınız :)
                    </p>
                    <button onclick="location.href='/panel'"  class="m-1 w-full rounded-md bg-indigo-700  py-2 text-indigo-100 hover:bg-indigo-600 hover:shadow-md duration-75">
                        Yönetim Paneline gitmek için tıklayınız. <i class="fa-solid fa-hand-pointer"></i>
                    </button>
                    <button onclick="location.href='/hakkinda'"  class="m-1 w-full rounded-md bg-red-700  py-2 text-indigo-100 hover:bg-red-600 hover:shadow-md duration-75">
                        Hakkında <i class="fa-solid fa-align-left"></i>
                    </button>
                    <button onclick="location.href='/davet-et'" class="m-1 w-full flex flex-wrap justify-center items-center rounded-md bg-green-700 py-2 text-indigo-100 hover:bg-green-600 hover:shadow-md duration-75">
                        <img class="max-w-6 max-h-6 rounded-full" src="<%= client.user.displayAvatarURL() %>" alt="">
                        <p class="text-medium ml-2">Beni sunucuna davet et!</p>
                    </button>
                  </div>
                </div>
            </div>
        </div>
        <div class="p-6 my-2 bg-primary border-3 border-black rounded-3xl">
            <p class="text-xl font-semibold p-1">
                En popüler sunucular:
            </p>
            <div class="flex flex-wrap items-center justify-left p-1">
                <% guilds.slice(0,100).map(m => { %>
                    <div onclick="location.href='/sunucular/<%= m.id %>'"
                        class="m-1 bg-white cursor-pointer max-w-xl rounded-xl hover:rounded-2xl shadow-md duration-200">
                    <div class="flex flex-wrap justify-between items-center p-2">
                        <img class="max-w-8 max-h-8 rounded-full" src="<%= m.icon %>" alt="">
                        <p class="text-medium text-gray-700 ml-2"><%= m.name %></p>
                    </div>
                    </div>
                <% }) %>
            </div>
        </div>
        <div id="footer"></div>
        <div id="popup"></div>
        <script>
            function loader(ElementId, File) {
                let element = document.getElementById(ElementId)
                fetch(File).then(res => res.text())
                    .then(x => element.innerHTML = x.replace("[% packageVersion ]",`<%= version %>`))
            }
        </script>
        <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
    </body>
</html>