<html lang="tr" style="font-family: 'Montserrat', sans-serif;">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
        <title><%= client.user.username %></title>
        <% let clientAvatar = client.user.avatar ? `avatars/${client.user.id}/${client.user.avatar}.webp` : "embed/avatars/0.png" %>
        <link rel="shortcut icon" href="https://cdn.discordapp.com/<%= clientAvatar %>">
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.17.0/dist/full.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;display=swap">
    </head>
    <body class="select-none bg-black min-h-screen text-white p-2">
        <nav class="navbar">
            <div class="flex-1">
                <div class="btn btn-ghost flex flex-wrap items-center">
                    <img class="w-8 h-8 rounded-full mr-2" src="https://cdn.discordapp.com/<%= clientAvatar %>" alt="">
                    <a onclick="location.href='/'" class="normal-case text-xl"><%= client.user.username %></a>
                </div>
            </div>
            <div class="flex-none">
                <% if (user) { %>
                <div class="dropdown dropdown-end">
                    <label tabindex="0">
                        <% let avatar = user.avatar ? `avatars/${user.id}/${user.avatar}.webp` : "embed/avatars/0.png" %>
                        <div class="btn btn-ghost flex flex-wrap items-center">
                            <a class="normal-case text-xl"><%= user.username %></a>
                            <img class="w-8 h-8 rounded-full ml-2" src="https://cdn.discordapp.com/<%= avatar %>" alt="">
                        </div>
                    </label>
                    <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-gray-900 rounded-box w-52">
                        <li><a class="flex justify-center"><%= user.username %>#<%= user.discriminator %></a></li>     
                        <li><a onclick="location.href='/profil'"><i class="fa-solid fa-user-large"></i> Profil </a></li>                          
                        <li><a onclick="location.href='/cikisyap'"><i class="fa-solid fa-right-from-bracket"></i> Çıkış Yap</a></li>
                    </ul>
                </div>
            </div>
            <% } %>
            <% if (!user) { %>
                <div class="flex-none">
                    <a onclick="location.href='/girisyap/discord'" class="btn btn-ghost normal-case text-xl">
                        Giriş Yap <i class="fa-solid fa-right-to-bracket pl-2"></i>
                    </a>
                </div>
            <% } %>
        </nav>
        <div class="p-6 bg-primary border-3 border-black rounded-3xl">
            <div class="inline md:hidden lg:hidden xl:hidden 2xl:hidden 3xl:hidden 4xl:hidden 
                        h-16 flex items-center justify-center m-1 bg-gray-900 rounded-3xl">
                <% guilds.map(m => { %>
                    <div onclick="location.href='/panel/<%= m.id %>'" class="cursor-pointer m-2">
                        <% if (m.icon) { %>
                            <img class="h-12 w-12 easy duration-500 <%= guild && m.id == guild.id ? "rounded-xl" : "rounded-3xl hover:rounded-xl" %>" 
                                src="https://cdn.discordapp.com/icons/<%= m.id %>/<%= m.icon %>.<%= m.icon.startsWith("a_") ? "gif" : "png" %>" alt="">
                        <% } %>
                        <% if (!m.icon) { %>
                            <img class="h-12 w-12 easy duration-500 <%= guild && m.id == guild.id ? "rounded-xl" : "rounded-3xl hover:rounded-xl" %>" 
                                src="https://cdn.discordapp.com/embed/avatars/1.png" alt="">
                        <% } %>
                    </div>
                <% }) %>
            </div>

            <div class="flex">
                <!-- left bar servers -->
                <div class="hidden md:inline lg:inline xl:inline 2xl:inline 3xl:inline 4xl:inline 
                            flex flex-col items-center bg-gray-900 text-purple-lighter w-16 m-1 p-2 rounded-3xl">
                    <% guilds.map(m => { %>
                        <div onclick="location.href='/panel/<%= m.id %>'" class="cursor-pointer mb-2">
                            <% if (m.icon) { %>
                                <img class="easy duration-500 <%= guild && m.id == guild.id ? "rounded-xl" : "rounded-3xl hover:rounded-xl" %>" 
                                    src="https://cdn.discordapp.com/icons/<%= m.id %>/<%= m.icon %>.<%= m.icon.startsWith("a_") ? "gif" : "png" %>" alt="">
                            <% } %>
                            <% if (!m.icon) { %>
                                <img class="easy duration-500 <%= guild && m.id == guild.id ? "rounded-xl" : "rounded-3xl hover:rounded-xl" %>" 
                                    src="https://cdn.discordapp.com/embed/avatars/1.png" alt="">
                            <% } %>
                        </div>
                    <% }) %>
                </div>
                
                <% if (guild) { %>
                    <div class="flex flex-wrap">
                        <div>
                            <div class="flex flex-col items-center bg-gray-900 text-purple-lighter w-72 m-1 p-2 rounded-3xl">
                                <% settings.map(m => { %>
                                    <div onclick="location.href='/panel/<%= guild.id %>/<%= m.tag %>'" 
                                        class="flex w-full cursor-pointer p-2 mb-2 <%= setting && setting == m.tag ? "text-blue-400" : "" %> hover:text-blue-400 easy duration-500">
                                        <div><i class="fa-solid fa-hashtag"></i><%= m.name %></div>
                                    </div>
                                <% }) %>
                            </div>
                        </div> 
                        <% if (setting == "swear-blocker") { %>
                            <div>
                                <div class="flex flex-col items-left bg-gray-900 text-purple-lighter m-1 p-2 rounded-3xl">
                                    <div class="font-semibold px-2">
                                        #Kötü Söz Engelleyici
                                    </div>
                                    <div class="text-sm px-2">
                                        Sunucunuzda kötü sözlerin engellenmesini sağlar.
                                        <br>
                                        (Metin kanalının üzerine tıklamanız yeterlidir.)
                                    </div>
                                    <% let size = guild.channels.cache.filter(f => f.type == "GUILD_TEXT").map(m => m) %>
                                    <div class="pt-2 px-2 flex flex-col grid gap-5
                                        <%= size[40] ? "grid-cols-5" : size[30] ? "grid-cols-4" : 
                                            size[20] ? "grid-cols-3" : size[10] ? "grid-cols-2" : "grid-cols-1" %>">
                                        <% guild.channels.cache.filter(f => f.type == "GUILD_TEXT").map(m => m).map(m => { %>
                                            <form class="flex justify-left text-left">
                                                <input class="w-0 h-0 relative" name="swearblockerchannel" id="<%= m.id %>" value="<%= m.id %>" required>
                                                <button type="submit" class="p-0.5">
                                                    <% if (guildModel?.settings?.swearBlocker?.channels?.includes(m.id)) { %>
                                                        <span class="text-green-600"><i class="fa-solid fa-check"></i> <%= m.name %></span>
                                                    <% } %>
                                                    <% if (!guildModel?.settings?.swearBlocker?.channels?.includes(m.id)) { %>
                                                        <span class="text-red-600"><i class="fa-solid fa-xmark"></i> <%= m.name %></span>
                                                    <% } %>
                                                </button>
                                            </form>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if (setting == "ad-blocker") { %>
                            <div>
                                <div class="flex flex-col items-left bg-gray-900 text-purple-lighter m-1 p-2 rounded-3xl">
                                    <div class="font-semibold px-2">
                                        #Reklam Engelleyici
                                    </div>
                                    <div class="text-sm px-2">
                                        Sunucunuzda reklamların engellenmesini sağlar.
                                        <br>
                                        (Metin kanalının üzerine tıklamanız yeterlidir.)
                                    </div>
                                    <% let size = guild.channels.cache.filter(f => f.type == "GUILD_TEXT").map(m => m) %>
                                    <div class="pt-2 px-2 flex flex-col grid gap-5
                                        <%= size[40] ? "grid-cols-5" : size[30] ? "grid-cols-4" : 
                                            size[20] ? "grid-cols-3" : size[10] ? "grid-cols-2" : "grid-cols-1" %>">
                                        <% guild.channels.cache.filter(f => f.type == "GUILD_TEXT").map(m => m).map(m => { %>
                                            <form class="flex justify-left text-left">
                                                <input class="w-0 h-0 relative" name="adblockerchannel" id="<%= m.id %>" value="<%= m.id %>" required>
                                                <button type="submit" class="p-0.5">
                                                    <% if (guildModel?.settings?.adBlocker?.channels?.includes(m.id)) { %>
                                                        <span class="text-green-600"><i class="fa-solid fa-check"></i> <%= m.name %></span>
                                                    <% } %>
                                                    <% if (!guildModel?.settings?.adBlocker?.channels?.includes(m.id)) { %>
                                                        <span class="text-red-600"><i class="fa-solid fa-xmark"></i> <%= m.name %></span>
                                                    <% } %>
                                                </button>
                                            </form>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if (setting == "uppercase-blocker") { %>
                            <div>
                                <div class="flex flex-col items-left bg-gray-900 text-purple-lighter m-1 p-2 rounded-3xl">
                                    <div class="font-semibold px-2">
                                        #Büyük Harfli Metin Engelleyici
                                    </div>
                                    <div class="text-sm px-2">
                                        Sunucunuzda çok fazla büyük harf içeren metinlerin engellenmesini sağlar.
                                        <br>
                                        (Metin kanalının üzerine tıklamanız yeterlidir.)
                                    </div>
                                    <% let size = guild.channels.cache.filter(f => f.type == "GUILD_TEXT").map(m => m) %>
                                    <div class="pt-2 px-2 flex flex-col grid gap-5
                                        <%= size[40] ? "grid-cols-5" : size[30] ? "grid-cols-4" : 
                                            size[20] ? "grid-cols-3" : size[10] ? "grid-cols-2" : "grid-cols-1" %>">
                                        <% guild.channels.cache.filter(f => f.type == "GUILD_TEXT").map(m => m).map(m => { %>
                                            <form class="flex justify-left text-left">
                                                <input class="w-0 h-0 relative" name="uppercaseblockerchannel" id="<%= m.id %>" value="<%= m.id %>" required>
                                                <button type="submit" class="p-0.5">
                                                    <% if (guildModel?.settings?.uppercaseBlocker?.channels?.includes(m.id)) { %>
                                                        <span class="text-green-600"><i class="fa-solid fa-check"></i> <%= m.name %></span>
                                                    <% } %>
                                                    <% if (!guildModel?.settings?.uppercaseBlocker?.channels?.includes(m.id)) { %>
                                                        <span class="text-red-600"><i class="fa-solid fa-xmark"></i> <%= m.name %></span>
                                                    <% } %>
                                                </button>
                                            </form>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if (setting == "joined-user-information") { %>
                            <div>
                                <div class="flex flex-col items-left bg-gray-900 text-purple-lighter m-1 p-2 rounded-3xl">
                                    <div class="font-semibold px-2">
                                        #Kullanıcı Giriş Bilgilendirme
                                    </div>
                                    <div class="text-sm px-2">
                                        Sunucunuza bir kullanıcı giriş yaptığında bunu size bir metin kanalından bildirir.
                                        <br>
                                        (Hangi metin kanalından bilgilendirilmek istediğinizi seçiniz.)
                                    </div>
                                    <div class="pt-2 px-2">
                                        <form>
                                            <label for="joineduserchannel" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">
                                                Bir metin kanalı seçiniz. 
                                                (Özellik şuanda <%= guildModel?.settings?.loginInfo?.channelId ? "açıktır." : "kapalıdır." %>)
                                            </label>
                                            <select name="joineduserchannel" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                                <% let channelsIds = guild.channels.cache.filter(f => f.type == "GUILD_TEXT").map(m => m.id) %>
                                                <% if (channelsIds.includes(guildModel?.settings?.loginInfo?.channelId)) { %>
                                                    <% let selectedChannel = guild.channels.cache.get(guildModel?.settings?.loginInfo?.channelId) %>
                                                    <option class="p-1" value="<%= selectedChannel.id %>" selected>#<%= selectedChannel.name %></option>
                                                    <% guild.channels.cache.filter(f => f.type == "GUILD_TEXT" && f.id !== selectedChannel.id).map(m => m).map(m => { %>
                                                        <option class="p-1" value="<%= m.id %>">#<%= m.name %></option>
                                                    <% }) %>
                                                <% } %>
                                                <% if (!channelsIds.includes(guildModel?.settings?.loginInfo?.channelId)) { %>
                                                    <% guild.channels.cache.filter(f => f.type == "GUILD_TEXT").map(m => m).map(m => { %>
                                                        <option class="p-1" value="<%= m.id %>">#<%= m.name %></option>
                                                    <% }) %>
                                                <% } %>
                                            </select>
                                            <button type="submit" class="p-2 px-4 my-2 text-black bg-green-600 rounded-lg font-medium">
                                                <i class="fa-solid fa-check"></i> Kaydet
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if (setting == "leaved-user-information") { %>
                            <div>
                                <div class="flex flex-col items-left bg-gray-900 text-purple-lighter m-1 p-2 rounded-3xl">
                                    <div class="font-semibold px-2">
                                        #Kullanıcı Çıkış Bilgilendirme
                                    </div>
                                    <div class="text-sm px-2">
                                        Sunucunuzdan bir kullanıcı çıkış yaptığında bunu size bir metin kanalından bildirir.
                                        <br>
                                        (Hangi metin kanalından bilgilendirilmek istediğinizi seçiniz.)
                                    </div>
                                    <div class="pt-2 px-2">
                                        <form>
                                            <label for="leaveduserchannel" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">
                                                Bir metin kanalı seçiniz. 
                                                (Özellik şuanda <%= guildModel?.settings?.logoutInfo?.channelId ? "açıktır." : "kapalıdır." %>)
                                            </label>
                                            <select name="leaveduserchannel" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                                <% let channelsIds = guild.channels.cache.filter(f => f.type == "GUILD_TEXT").map(m => m.id) %>
                                                <% if (channelsIds.includes(guildModel?.settings?.logoutInfo?.channelId)) { %>
                                                    <% let selectedChannel = guild.channels.cache.get(guildModel?.settings?.logoutInfo?.channelId) %>
                                                    <option class="p-1" value="<%= selectedChannel.id %>" selected>#<%= selectedChannel.name %></option>
                                                    <% guild.channels.cache.filter(f => f.type == "GUILD_TEXT" && f.id !== selectedChannel.id).map(m => m).map(m => { %>
                                                        <option class="p-1" value="<%= m.id %>">#<%= m.name %></option>
                                                    <% }) %>
                                                <% } %>
                                                <% if (!channelsIds.includes(guildModel?.settings?.logoutInfo?.channelId)) { %>
                                                    <% guild.channels.cache.filter(f => f.type == "GUILD_TEXT").map(m => m).map(m => { %>
                                                        <option class="p-1" value="<%= m.id %>">#<%= m.name %></option>
                                                    <% }) %>
                                                <% } %>
                                            </select>
                                            <button type="submit" class="p-2 px-4 my-2 text-black bg-green-600 rounded-lg font-medium">
                                                <i class="fa-solid fa-check"></i> Kaydet
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        
                        <% if (setting == "spotify-playing-information") { %>
                            <div>
                                <div class="flex flex-col items-left bg-gray-900 text-purple-lighter m-1 p-2 rounded-3xl">
                                    <div class="font-semibold px-2">
                                        Geliştirici bu içeriği henüz yayınlamadı.
                                        <br>
                                        Ek bilgi için: help@drizzlydeveloper.xyz
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if (setting == "private-message") { %>
                            <div>
                                <div class="flex flex-col items-left bg-gray-900 text-purple-lighter m-1 p-2 rounded-3xl">
                                    <div class="font-semibold px-2">
                                        Geliştirici bu içeriği henüz yayınlamadı.
                                        <br>
                                        Ek bilgi için: help@drizzlydeveloper.xyz
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if (setting == "server-logs") { %>
                            <div>
                                <div class="flex flex-col items-left bg-gray-900 text-purple-lighter m-1 p-2 rounded-3xl">
                                    <div class="font-semibold px-2">
                                        Geliştirici bu içeriği henüz yayınlamadı.
                                        <br>
                                        Ek bilgi için: help@drizzlydeveloper.xyz
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if (setting == "transactions") { %>
                            <div>
                                <div class="flex flex-col items-left bg-gray-900 text-purple-lighter m-1 p-2 rounded-3xl">
                                    <div class="font-semibold px-2">
                                        Geliştirici bu içeriği henüz yayınlamadı.
                                        <br>
                                        Ek bilgi için: help@drizzlydeveloper.xyz
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if (!setting) { %>
                            <div class="hidden lg:inline xl:inline 2xl:inline 3xl:inline">
                                <!-- not selected server settings box -->
                                <div class="flex flex-col items-center bg-gray-900 text-purple-lighter m-1 p-2 rounded-3xl">
                                    <div class="p-2">
                                        Dostum tekrardan merhaba... <br>
                                        Soldaki menüden hangi ayarlarını değiştirmek istediğiniz seçebilirsin.
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } %>
                <% if (!guild) { %>
                    <div class="hidden lg:inline xl:inline 2xl:inline 3xl:inline">
                        <!-- not selected server settings box -->
                        <div class="flex flex-col items-center bg-gray-900 text-purple-lighter m-1 p-2 rounded-3xl">
                            <div class="p-2">
                                Dostum hoşgeldin... <br>
                                Soldaki menüden ayarlarını değiştirmek istediğiniz sunucuyu seçebilirsin.
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="flex items-end justify-end fixed bottom-0 right-0 mb-3 mr-3 z-10">
            <div class="bg-primary border-2 border-black text-sm rounded-3xl p-0.5 px-5 transform hover:scale-110">
                beta version v0.1.8
            </div>
        </div>
        <footer class="footer footer-center mt-5 p-5 bg-primary text-primary-content rounded-3xl">
            <div>
                <p class="font-bold">
                    Teknik destek/sorun/öneri vs. için help@drizzlydeveloper.xyz
                </p>
                <p>Copyright © 2022 - Tüm hakları Drizzly Developer kuruluşu ile saklıdır.</p>
            </div> 
        </footer>
    </body>
</html>