<html lang="tr" style="font-family: 'Montserrat', sans-serif;">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
        <title><%= client.user.username %></title>
        <% let clientAvatar = client.user.avatar ? `avatars/${client.user.id}/${client.user.avatar}.webp` : "embed/avatars/0.png" %>
        <link rel="shortcut icon" href="https://cdn.discordapp.com/<%= clientAvatar %>">
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.17.0/dist/full.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;display=swap">
    </head>
    <body class="select-none bg-black min-h-screen text-white p-2">
        <nav class="navbar">
            <div class="flex-1">
                <div class="btn btn-ghost flex flex-wrap items-center">
                    <img class="w-8 h-8 rounded-full mr-2" src="https://cdn.discordapp.com/<%= clientAvatar %>" alt="">
                    <a onclick="location.href='/'" class="normal-case text-xl"><%= client.user.username %></a>
                </div>
            </div>
            <% if (user) { %>
            <div class="flex-none">
                <div class="dropdown dropdown-end">
                    <label tabindex="0">
                        <% let avatar = user.avatar ? `avatars/${user.id}/${user.avatar}.webp` : "embed/avatars/0.png" %>
                        <div class="btn btn-ghost flex flex-wrap items-center">
                            <a class="normal-case text-xl"><%= user.username %></a>
                            <img class="w-8 h-8 rounded-full ml-2" src="https://cdn.discordapp.com/<%= avatar %>" alt="">
                        </div>
                    </label>
                    <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-gray-900 rounded-box w-52">
                        <li><a class="flex justify-center"><%= user.username %>#<%= user.discriminator %></a></li>     
                        <li><a onclick="location.href='/profil'"><i class="fa-solid fa-user-large"></i> Profil </a></li>                          
                        <li><a onclick="location.href='/cikisyap'"><i class="fa-solid fa-right-from-bracket"></i> Çıkış Yap</a></li>
                    </ul>
                </div>
            </div>
            <% } %>
            <% if (!user) { %>
                <div class="flex-none">
                    <a onclick="location.href='/girisyap/discord'" class="btn btn-ghost normal-case text-xl">
                        Giriş Yap <i class="fa-solid fa-right-to-bracket pl-2"></i>
                    </a>
                </div>
            <% } %>
        </nav>
        <div class="p-6 bg-primary border-3 border-black rounded-3xl">
            <% if (user) { %>
            <div class="relative max-w-md mx-auto md:max-w-2xl mt-6 min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-xl mt-16">
                <div class="px-6">
                    <div class="flex flex-wrap justify-center">
                        <div class="w-full flex justify-center">
                            <div class="relative">
                                <% let avatar = user.avatar ? `avatars/${user.id}/${user.avatar}.webp` : "embed/avatars/0.png" %>
                                <img src="https://cdn.discordapp.com/<%= avatar %>" class="shadow-xl rounded-full align-middle border-none absolute -m-16 max-w-[150px]"/>
                            </div>
                        </div>
                    </div>
                    <div class="mt-16 mb-4">
                        <h3 class="text-2xl text-slate-700 font-bold leading-normal mb-1">
                            <div class="flex flex-wrap items-center justify-center">
                                <img class="w-10 h-full rounded-md mr-2" src="https://countryflagsapi.com/png/<%= user.locale %>">
                                <p><%= user.username %>#<%= user.discriminator %></p>
                            </div>
                            <div class="flex flex-wrap justify-center items-center text-sm">
                                <div><i class="fa-solid fa-mailbox mr-1"></i></div>
                                <div><p><%= user.email %></p></div>
                            </div>
                        </h3>
                        <div class="flex flex-wrap justify-center text-center">
                            <% if (user.verified == true) { %>
                                <div class="text-xs w-36 m-1 p-2 px-3 rounded-lg bg-blue-700">
                                    <i class="fa-solid fa-check mr-1"></i> Doğrulanmış
                                </div>
                            <% } %>
                            <% if (user.verified == false) { %>
                                <div class="text-xs w-36 m-1 p-2 px-3 rounded-lg bg-red-700">
                                    <i class="fa-solid fa-xmark mr-1"></i> Doğrulanmamış
                                </div>
                            <% } %>
                            <% if (config.owner == user.id) { %>
                                <div class="text-xs w-36 m-1 p-2 px-3 rounded-lg bg-yellow-700">
                                    <i class="fa-solid fa-crown"></i> Kurucu
                                </div>
                            <% } %>
                            <% if (config.developers.includes(user.id)) { %>
                                <div class="text-xs w-36 m-1 p-2 px-3 rounded-lg bg-purple-700">
                                    <i class="fa-solid fa-code-simple"></i> Aspex Geliştiricisi
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <% let ownerGuild = guilds.filter(f => f.owner == true) %>
                    <% let adminGuild = guilds.filter(f => f.owner == false) %>
                    <div class="flex flex-wrap justify-between">
                        <% if (ownerGuild[0]) { %>
                            <div class="m-1">
                                <p class="text-black">Kurucusu olduğunuz sunucular</p>
                                <% ownerGuild.map(m => { %>
                                    <div onclick="location.href='/panel/<%= m.id %>'" class="cursor-pointer my-2 p-2 px-3 bg-primary rounded-3xl">
                                        <div class="flex flex-wrap items-center">
                                            <div>
                                                <% if (m.icon) { %>
                                                    <img class="max-h-6 max-w-6 rounded-full" 
                                                        src="https://cdn.discordapp.com/icons/<%= m.id %>/<%= m.icon %>.<%= m.icon.startsWith("a_") ? "gif" : "png" %>" alt="">
                                                <% } %>
                                                <% if (!m.icon) { %>
                                                    <img class="max-h-6 max-w-6 rounded-full" 
                                                        src="https://cdn.discordapp.com/embed/avatars/1.png" alt="">
                                                <% } %>
                                            </div>
                                            <div class="pl-2">
                                                <%= m.name %>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>   
                            </div>
                        <% } %>  
                        <% if (adminGuild[0]) { %>
                            <div class="m-1">
                                <p class="text-black">Yöneticisi olduğunuz sunucular</p>
                                <% adminGuild.map(m => { %>
                                    <div onclick="location.href='/panel/<%= m.id %>'" class="cursor-pointer my-2 p-2 px-3 bg-primary rounded-3xl">
                                        <div class="flex flex-wrap items-center">
                                            <div>
                                                <% if (m.icon) { %>
                                                    <img class="max-h-6 max-w-6 rounded-full" 
                                                        src="https://cdn.discordapp.com/icons/<%= m.id %>/<%= m.icon %>.<%= m.icon.startsWith("a_") ? "gif" : "png" %>" alt="">
                                                <% } %>
                                                <% if (!m.icon) { %>
                                                    <img class="max-h-6 max-w-6 rounded-full" 
                                                        src="https://cdn.discordapp.com/embed/avatars/1.png" alt="">
                                                <% } %>
                                            </div>
                                            <div class="pl-2">
                                                <%= m.name %>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>   
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <% } %>
            <% if (!user) { %>
                <div class="flex justify-center">
                    <a onclick="location.href='/girisyap/discord'" class="btn btn-ghost normal-case text-xl">
                        Hesabını bulamadık lütfen tekrardan giriş yap <i class="fa-solid fa-right-to-bracket pl-2"></i>
                    </a>
                </div>
            <% } %>
        </div>
        <div class="flex items-end justify-end fixed bottom-0 right-0 mb-3 mr-3 z-10">
            <div class="bg-primary border-2 border-black text-sm rounded-3xl p-0.5 px-5 transform hover:scale-110">
                beta version v0.1.8
            </div>
        </div>
        <footer class="footer footer-center mt-5 p-5 bg-primary text-primary-content rounded-3xl">
            <div>
                <p class="font-bold">
                    Teknik destek/sorun/öneri vs. için help@drizzlydeveloper.xyz
                </p>
                <p>Copyright © 2022 - Tüm hakları Drizzly Developer kuruluşu ile saklıdır.</p>
            </div> 
        </footer>
    </body>
</html>